body {
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color:#222;
box-sizing: border-box;
}

.banner {
    background-color: #fff;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.pin {
    position: absolute;
    top: -150px;
    left: 45%;
    color: #fff;
}   

.lines {
    position: relative;
    top: 50px;
    background-color: #ccc;
}

.lines::before {
    content: "";
    display: block;
    width: 158px;
    height: 2px;
    left: 7%;
    background-color: #ddd;
    position: absolute;
    top: -120px;
    transform: rotate(120deg);
}

.lines::after {
    content: "";
    display: block;
    width: 158px;
    height: 2px;
    right: 13%;
    background-color: #ddd;
    position: absolute;
    top: -120px;
    transform: rotate(240deg);
}

.banner:hover {
    transform: rotate(-10deg);   
}

.banner img {
    width: 80px;
    position: absolute;
    right: -40px;
    top: -50px;
    transform: rotate(120px);
}

.closed h1{
    background-color: #ccc;
    width: 300px;
    padding: 5px 0;
    margin-bottom: 18px;
    font-family: fantasy;
}

.closed h2{
    background-color: #fff;
    width: 300px;
    font-size: 35px;
    line-height: 0.02;
    font-family: serif;
}
.closed p {
    font-size: 15px;
}